/* color palette from <https://github.com/vuejs/theme> */


/* dark palette from https://colorhunt.co/palette/0820322c394b334756ff4c29 */
/* light palette from https://colorhunt.co/palette/fcecddffc288fea82fff6701/ */

:root {
  --light-surface: #FEF7FF;
  --light-surface-dim: #DED8E1;
  --light-surface-bright: #FEF7FF;
  --light-surface-container-lowest: #FFFFFF;
  --light-surface-container-low: #F7F2FA;
  --light-surface-container: #F3EDF7;
  --light-surface-container-high: #ECE6F0;
  --light-surface-container-highest: #E6E0E9;
  --light-surface-variant: #E7E0EC;
  --light-on-surface: #1C1B1F;
  --light-on-surface-variant: #49454E;
  --light-outline: #79747E;
  --light-outline-variant: #C4C7C5;
  --light-shadow: #000000;

  --dark-surface: #141218;
  --dark-surface-dim: #141218;
  --dark-surface-bright: #3B383E;
  --dark-surface-container-lowest: #0F0D13;
  --dark-surface-container-low: #1D1B20;
  --dark-surface-container: #211F26;
  --dark-surface-container-high: #2B2930;
  --dark-surface-container-highest: #36343B;
  --dark-surface-variant: #49454F;
  --dark-on-surface: #E6E1E5;
  --dark-on-surface-variant: #CAC4D0;
  --dark-outline: #938F99;
  --dark-outline-variant: #444746;
  --dark-shadow: #000000;

  --size-bezel: .5rem;
  --size-radius: 4px;

  --size-desktop-max: 1140px;
  --size-mobile-max: 500px;
  --size-tablet-max: 720px;
  --size-footer-height: 60px;
  --size-mobile-footer-height: 100px;
}

/* semantic color variables for this project */
html[data-theme='light'] {
  --surface: #FEF7FF;
  --surface-dim: #DED8E1;
  --surface-bright: #FEF7FF;
  --surface-container-lowest: #FFFFFF;
  --surface-container-low: #F7F2FA;
  --surface-container: #F3EDF7;
  --surface-container-high: #ECE6F0;
  --surface-container-highest: #E6E0E9;
  --surface-variant: #E7E0EC;
  --on-surface: #1C1B1F;
  --on-surface-variant: #49454E;
  --outline: #79747E;
  --outline-variant: #C4C7C5;
  --shadow: #000000;
}

html[data-theme='dark'] {
    --surface: #141218;
    --surface-dim: #141218;
    --surface-bright: #3B383E;
    --surface-container-lowest: #0F0D13;
    --surface-container-low: #1D1B20;
    --surface-container: #211F26;
    --surface-container-high: #2B2930;
    --surface-container-highest: #36343B;
    --surface-variant: #49454F;
    --on-surface: #E6E1E5;
    --on-surface-variant: #CAC4D0;
    --outline: #938F99;
    --outline-variant: #444746;
    --shadow: #000000;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  color: var(--on-surface);
  background: var(--surface);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  max-width: var(--size-desktop-max);
  margin: 0 auto;
  padding-bottom: var(--size-mobile-footer-height);
}

@media (min-width: var(--size-mobile-max)) {
  .app{
    max-width: var(--size-desktop-max);
    margin: 0 auto;
    padding-bottom: var(--size-footer-height);
  }
}