/* color palette from <https://github.com/vuejs/theme> */


/* dark palette from https://colorhunt.co/palette/0820322c394b334756ff4c29 */
/* light palette from https://colorhunt.co/palette/fcecddffc288fea82fff6701/ */

:root {
  --color-white: #ffffff;
  --color-disabled: #9c9e9f;

  --dark-00: #222222;
  --dark-01: #333333;
  --dark-02: #444444;
  --dark-accent-00: #FF4C29;

  --light-00: #FCECDD;
  --light-01: #FFC288;
  --light-02: #FEA82F;
  --light-accent-00: #FF6701;

  --size-bezel: .5rem;
  --size-radius: 4px;

  --size-desktop-max: 1140px;
  --size-mobile-max: 500px;
  --size-tablet-max: 720px;
  --size-footer-height: 60px;
  --size-mobile-footer-height: 100px;
}

/* semantic color variables for this project */
html[data-theme='light'] {
  --color-background: var(--light-00);
  --color-background-soft: var(--light-01);

  --color-border: var(--light-01);
  --color-border-hover: var(--light-02);
  --color-background-hover: var(--light-01);
  --color-font-hover: var(--dark-02);

  --color-text: var(--orange-00);
  --color-accent: var(--orange-00);

  --primary: var(--light-accent-00);
  --secondary: var(--light-02);
  --tertiary: var(--light-01);
  --quaternary: var(--light-00);

  --inverse-primary: var(--dark-accent-00);
  --inverse-secondary: var(--dark-02);
  --inverse-tertiary: var(--dark-01);
  --inverse-quaternary: var(--dark-00);

}

html[data-theme='dark'] {
    --primary: var(--dark-accent-00);
    --secondary: var(--dark-02);
    --tertiary: var(--dark-01);
    --quaternary: var(--dark-00);

    --inverse-primary: var(--light-accent-00);
    --inverse-secondary: var(--light-02);
    --inverse-tertiary: var(--light-01);
    --inverse-quaternary: var(--light-00);
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  color: var(--primary);
  background: var(--tertiary);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  max-width: var(--size-desktop-max);
  margin: 0 auto;
  padding-bottom: var(--size-mobile-footer-height);
}

.button {
  background: none;
  border: solid 2px var(--inverse-secondary);
  color: var(--inverse-secondary);
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  outline: none;
  padding: 8px 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button--slim {
  padding: 4px 8px;
  border: none;
  border-bottom: solid 2px var(--inverse-secondary);
}

.button:hover {
  background: var(--inverse-tertiary);
  color: var(--inverse-primary);
}

@media (min-width: var(--size-mobile-max)) {
  .app{
    max-width: var(--size-desktop-max);
    margin: 0 auto;
    padding-bottom: var(--size-footer-height);
  }
}